<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @report.host %>
</p>

<p>
  <strong>Session:</strong>
  <%= @report.session %>
</p>

<p>
  <strong>User:</strong>
  <%= @report.user_id %>
</p>

<p>
  <strong>Action:</strong>
  <%= @report.action %>
</p>

<div id='tabs' class="report-text">
  <ul>
    <% @prints.each do |print| %>
      <li><a href="#<%= print.name.underscore %>"><span><%= print.name %></span></a></li>
    <% end %>
  </ul>
  <% @prints.each do |print| %>
    <div id="<%= print.name.underscore %>">
      <div>
        <%= File.read(print.path)  %>
      </div>
    </div>
  <% end %>
</div>

<p>
  <strong>Data:</strong>
  <%= @report.data %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>

<style>
  .report-text {
    max-height: 45em;
    white-space: pre-wrap;
    overflow: hidden;
    border: 1px #555 solid;
    width: 940px;
    overflow-y: scroll;
  }
</style>
